button {background-image: image(rgb(247, 0, 255));}
button:hover {background-image: image(green);}
button:active {background-image: image(brown);}
label {background-image: none;}
window.background {background-image: image(rgb(102, 102, 102));}
/*window.background {background-image: url("test.jpeg") }*/
/*window.background {background-image: url('/home/bejo/eclipse-workspace/HausRegelung/pics/test.jpeg') }*/